<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>건강하개</title>

  <!-- jquery validation-->
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js"></script>
  
  <style>
    /* j쿼리, 오류가 있는 필드에 빨간색 테두리 추가 
    .is-invalid {
        border: 2px solid red; 
    }
        */

    /* 오류 메시지는 빨간색으로 */
    .invalid-feedback {
        color: red;
    }
</style>

</head>
<body>