<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Image Example</title>

    <link rel="stylesheet" href="../css/style_weather.css">

    <!-- 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet" />


    <style>
        #weatherImg {
            /* border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
            vertical-align: middle;
        }
    </style>
</head>

<body>
  <main>
    <div class="container">
    <h2>산책가자! 오늘 날씨는?</h2>
    
    <div class="weather-info">
        <img id="weatherImg" src="/img/{{ weatherInfo.weatherImage }}" alt="Weather" width="50">
        <span>{{weatherInfo.temperature}}°C {{weatherInfo.mainWeather}}</span>
        
    </div>
    <p>{{ weatherInfo.message |safe }}</p>
    
    
    
   
</div>
  </main>


  <!-- 하단 네비게이션 바 -->
<div class="tabbar tab-style4">
  <ul class="flex-center">
      <li class="home active" data-where="home" data-href="/">
          <span class="material-icons-outlined">home</span>
          <p>HOME</p>
      </li>
      <li class="gps" data-where="gps" data-href="/gps/">
          <span class="material-icons-outlined">location_on</span>
          <p>GPS</p>
      </li>
      <li class="pharmacy" data-where="pharmacy" data-href="/pharmacy/">
          <span class="material-icons-outlined">local_pharmacy</span>
          <p>주변약국</p>
      </li>
      <li class="weather" data-where="weather" data-href="/weather/">
          <span class="material-icons-outlined">wb_sunny</span>
          <p>날씨</p>
      </li>
  </ul>
</div>

<script src="../js/script_index.js"></script>
</body>
</html>