<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>주변 동물 약국</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
  <link rel="stylesheet" href="../css/style_index.css">

  <!-- 폰트 -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet" />


  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <style>
    
  </style>
</head>
<body>
  
  <div id="map"></div>
  <div id="info">지도에서 약국을 터치해주세요.</div>
  
  <script>
    const nearestPharmacies = JSON.parse('{{ nearestPharmacies | safe }}');
    console.log('view: ', nearestPharmacies);
    var map = L.map('map').setView([37.5434, 126.722], 15); // 기본 위치 설정

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // 약국 정보 기반으로 마커 추가
    /*
    nearestPharmacies.forEach(function(pharmacy) {
      L.marker([pharmacy.lat, pharmacy.lng])
        .addTo(map)
        .bindPopup("<b>" + pharmacy.name + "</b><br>" + pharmacy.desc);
    });
    */

    nearestPharmacies.forEach(function(pharmacy) {
      const marker = L.marker([pharmacy.lat, pharmacy.lng]).addTo(map);

      // 마커에 팝업 추가 (약국 이름만 표시)
      marker.bindPopup("<b>" + pharmacy.name + "</b>");

      // 마커 클릭 시 info 영역에 약국 설명 표시
      marker.on('click', function() {
        const infoDiv = document.getElementById('info');
        infoDiv.innerHTML = `<h3>${pharmacy.name}</h3><p>${pharmacy.desc}</p>`;
      });
    });


  </script>


<!-- 하단 네비게이션 바 -->
<div class="tabbar tab-style4">
  <ul class="flex-center">
      <li class="home active" data-where="home" data-href="/">
          <span class="material-icons-outlined">home</span>
          <p>HOME</p>
      </li>
      <li class="gps" data-where="gps" data-href="/gps/">
          <span class="material-icons-outlined">location_on</span>
          <p>GPS</p>
      </li>
      <li class="pharmacy" data-where="pharmacy" data-href="/pharmacy/">
          <span class="material-icons-outlined">local_pharmacy</span>
          <p>주변약국</p>
      </li>
      <li class="weather" data-where="weather" data-href="/weather/">
          <span class="material-icons-outlined">wb_sunny</span>
          <p>날씨</p>
      </li>
  </ul>
</div>

<script src="../js/script_index.js"></script>

</body>
</html>
