
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../css/styles_login.css">

  <title>login</title>
  <style>

</style>
</head>
<body>


  <div class="login-container">
    <div>
      <h2>건강하개</h2>
    </div>
    <form action="/member/login" method="POST" name="loginFrm" id="loginFrm">
        <div class="form-group">
            
            <input type="text" id="user_id" name="user_id" required placeholder=" ">
            <label for="inputText">ID</label>
            <span class="invalid-feedback"></span>
        </div>
        <div class="form-group">
            
            <input type="password" id="user_pw" name="user_pw" required placeholder=" ">
            <label for="inputText">Password</label>
            <span class="invalid-feedback"></span>
        </div>
        <div class="button-group">
          <button type="submit" class="btn-login">로그인</button>
          <button type="button" class="btn-signup" id="signupButton">회원가입</button>
      </div>
    </form>
</div>

  <script>
    document.getElementById('signupButton').addEventListener('click', function () {
        window.location.href = '/member/register';
    });
  </script>


  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>

  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js"></script>

  <script type="text/javascript">
    $(function() { // 페이지 로딩되면
      $('#loginFrm').validate({
        debug: false,
        onkeyup: false,
        submitHandler: function (f) {
          f.submit();
        },
        rules: {
          user_id: {
            required: true,
          },
          user_pw: {
            required: true,
          },
        },
        messages: {
          user_id: {
            required: "User ID를 입력하세요.",
          },
          user_pw: {
            required: "Password를 입력하세요.",
          }
        },
        errorElement: 'span',
        errorPlacement: function (error, element) {
          error.addClass('invalid-feedback');
          element.closest('.form-group').append(error);
        },
        highlight: function (element, errorClass, validClass) {
          $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
          $(element).removeClass('is-invalid');
        }
      });
    }); 
  </script>

  <script>
      $(document).ready(function () {
    $('input').on('input', function () {
      if ($(this).val()) {
        $(this).next('label').addClass('input-filled');
      } else {
        $(this).next('label').removeClass('input-filled');
      }
    });
  });
  </script>
  
</body>
</html>