
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
</head>
<body>


  




  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>

  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js"></script>

  <script type="text/javascript">
    $(function() { // 페이지 로딩되면
      $('#loginFrm').validate({
        debug: false,
        onkeyup: false,
        submitHandler: function (f) {
          f.submit();
        },
        rules: {
          user_id: {
            required: true,
          },
          user_pw: {
            required: true,
          },
        },
        messages: {
          user_id: {
            required: "User ID를 입력하세요.",
          },
          user_pw: {
            required: "Password를 입력하세요.",
          }
        },
        errorElement: 'span',
        errorPlacement: function (error, element) {
          error.addClass('invalid-feedback');
          element.closest('.input-group').append(error);
        },
        highlight: function (element, errorClass, validClass) {
          $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
          $(element).removeClass('is-invalid');
        }
      });
    }); 
  </script>
  
</body>
</html>