{% include "include/header.html" %}

<main>
  <div class="signup-container">
    <h2>회원 가입</h2>
    <form action="/member/register" method="POST" name="joinFrm" id="joinFrm">
        <div class="form-group">
            <label for="inputText">Id</label>
            <input type="text" id="user_id" name="user_id">
        </div>
        <div class="form-group">
            <label for="inputText">Password</label>
            <input type="password" id="user_pw" name="user_pw">
        </div>
        <button type="submit">Register</button>
    </form>
</div>

  
</main>

{% include "include/footer.html" %}