<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>건강하개</title>

  <!-- jquery validation-->
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js"></script>
  
  <style>
    /* j쿼리, 오류가 있는 필드에 빨간색 테두리 추가 
    .is-invalid {
        border: 2px solid red; 
    }
        */

    /* 오류 메시지는 빨간색으로 */
    .invalid-feedback {
        color: red;
    }

    .dog_image_profile {
        width: 150px; 
        height: 150px; 
        border-radius: 50%; /* 원형으로 만들기 */
        top: 10px; 
        left: 10px; 
        object-fit: cover; /* 이미지 비율 유지 */
        border: 2px solid #fff; /* 테두리 */
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* 그림자 */
  }

</style>

</head>
<body>

<main id="main" class="main">

    <div class="pagetitle">
      <h1>건강하개</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">home</h5>
              <img src="{{viewData.dog_image}}" alt="" class="dog_image_profile">
            </div>
            <div class="navbar">
              <a class="active" href="#home">Home</a>
              <a href="/gps/">gps</a>
              <a href="/pharmacy/">주변약국</a>
              <a href="/weather/">날씨</a>
            </div>
          </div>

        </div>
      </div>
    </section>

  </main>

{% include "include/footer.html" %}