<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>건강하개</title>

  <link rel="stylesheet" href="../css/style_index.css">

  <!-- jquery validation-->
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js"></script>

</head>

<body>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>건강하개</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="profile-container">
        <img src="{{viewData.dog_image}}" alt="강아지 프로필 사진" class="dog_image_profile">
        <div class="dog-info">
          <p>{{ viewData.dog_name }}</p>
          <p>나이: {{ viewData.dog_age }}살</p>
          <p>견종: {{ viewData.dog_breed }}</p>
        </div>
      </div>

      <div class="navbar">
        <a class="active" href="#home">Home</a>
        <a href="/gps/">gps</a>
        <a href="/pharmacy/">주변약국</a>
        <a href="/weather/">날씨</a>
      </div>
      </div>

      </div>
    </section>

  </main>

  {% include "include/footer.html" %}