<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../css/styles_login.css">

  <title>dogInfo</title>

</head>
<body>

<div class="dog-info-container">
    <h2>강아지 정보 입력</h2>
    <form action="/member/dogInfo" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <input type="file" multiple name="attach_file" id="attach_file">
          </div>
        <div class="form-group">
            <label for="dog_name"></label>
            <input type="text" id="dog_name" name="dog_name" placeholder="강아지 이름을 입력하세요" required>
        </div>
        <div class="form-group">
            <label for="dog_age"></label>
            <input type="number" id="dog_age" name="dog_age" placeholder="강아지 나이를 입력하세요" required>
        </div>
        <div class="form-group">
            <label for="dog_gender"></label>
            <select id="dog_gender" name="dog_gender" required>
                <option value="">강아지 성별을 선택하세요</option>
                <option value="female">암컷</option>
                <option value="male">수컷</option>
            </select>
        </div>
        <div class="form-group">
            <label for="dog_breed"></label>
            <input type="text" id="dog_breed" name="dog_breed" placeholder="강아지 종을 입력하세요" required>
        </div>
        <button type="submit">등록하기</button>
    </form>
</div>

{% include "include/footer.html" %}