<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../css/styles_login.css">

  <title>signup</title>
  <style>

</style>
</head>
<body>

<main>
  <div class="signup-container">
    <div>
        <h2>회원가입</h2>
      </div>
    <form action="/member/register" method="POST" name="joinFrm" id="joinFrm">
        <div class="form-group">
            
            <input type="text" id="user_id" name="user_id">
            <label for="inputText">ID</label>
            <span class="invalid-feedback"></span>
        </div>
        <div class="form-group">
            
            <input type="password" id="user_pw" name="user_pw">
            <label for="inputText">Password</label>
            <span class="invalid-feedback"></span>
        </div>
        <div class="form-group">
            
            <input type="password" id="user_pw_ck" name="user_pw_ck">
            <label for="inputText">Password confirm</label>
            <span class="invalid-feedback"></span>
        </div>
        <button type="submit">확인</button>
    </form>
</div>


<!-- jquery validation-->
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js"></script>


<script type="text/javascript">
    $(function () { // 페이지 로딩되면
        $('#joinFrm').validate({
            debug: false,
            onkeyup: false,
            submitHandler: function (f) {
                f.submit();
            },
            rules: {
                user_id: {
                    required: true,
                    remote: {
                        url: "/member/checkUserId",
                        type: "post",
                    },
                },
                user_pw: {
                    required: true,
                },
                user_pw_ck:{
                    required: true,
                    equalTo: '#user_pw',
                }
            },
            messages: {
                user_id: {
                    required: "User ID를 입력하세요.",
                    remote: "중복된 아이디!!!!",
                },
                user_pw: {
                    required: "Password를 입력하세요.",
                },
                user_pw_ck: {
                    required: "Password 확인을 입력하세요.",
                    equalTo: "입력하신 비번이 서로 다릅니다",
                }
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });
    }); 
</script>

<script>
    $(document).ready(function () {
  $('input').on('input', function () {
    if ($(this).val()) {
      $(this).next('label').addClass('input-filled');
    } else {
      $(this).next('label').removeClass('input-filled');
    }
  });
});
</script>
  
</main>

</body>
</html>