<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPS view</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="../css/style_gps.css">
    <!-- 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet" />
    
    <style>
        
    </style>
</head>
<body>
    <div class="content">
        <div id="map"></div>
    </div>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        const viewData = JSON.parse('{{ viewData | safe }}');

        // 초기화
        const map = L.map('map').setView([37.5665, 126.9780], 13); // 임시 좌표  // 위도,경도,확대레벨
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; OpenStreetMap contributors'
        }).addTo(map);
/*
        // WebSocket 연결
        const ws = new WebSocket('ws://localhost:5000');

        let marker;

        ws.onmessage = (event) => {    // 서버로 메시지 수신할때 실행됨
            const data = JSON.parse(event.data);    // 어케 넘어올지 몰겟음 예시 {"latitude": 37.5665, "longitude": 126.9780}
            const { latitude, longitude } = data;

            if (marker) {
                marker.setLatLng([latitude, longitude]); // 마커 업데이트
            } else {
                marker = L.marker([latitude, longitude]).addTo(map); // 첫 마커 생성
            }

            map.setView([latitude, longitude], 15); // 지도 중심 이동
        };
        */

        const customIcon = L.icon({
          iconUrl: 'https://cdn-icons-png.flaticon.com/512/9349/9349135.png',
          iconSize: [40, 40],  
          iconAnchor: [16, 32],  // 아이콘의 앵커 위치
          popupAnchor: [5, -32]  // 팝업의 위치
        });

        let marker;
        marker = L.marker([37.5491, 126.7234], { icon: customIcon }).addTo(map);
        map.setView([37.5491, 126.7234], 15);


        marker.bindPopup("<b> 현재 " + viewData.dog_name + "의 위치입니다 </b>").openPopup();


    </script>


<!-- 하단 네비게이션 바 -->
<div class="tabbar tab-style4">
    <ul class="flex-center">
        <li class="home active" data-where="home" data-href="/">
            <span class="material-icons-outlined">home</span>
            <p>HOME</p>
        </li>
        <li class="gps" data-where="gps" data-href="/gps/">
            <span class="material-icons-outlined">location_on</span>
            <p>GPS</p>
        </li>
        <li class="pharmacy" data-where="pharmacy" data-href="/pharmacy/">
            <span class="material-icons-outlined">local_pharmacy</span>
            <p>주변약국</p>
        </li>
        <li class="weather" data-where="weather" data-href="/weather/">
            <span class="material-icons-outlined">wb_sunny</span>
            <p>날씨</p>
        </li>
    </ul>
  </div>


  <script src="../js/script_index.js"></script>

  
</body>
</html>