:root {
  --background: linear-gradient(135deg, #FFDAB9, #E1BBF5); /* 전체 배경색 */
  --accent-color: #FFB6B9; /* 강조 색상 */
  --text-color: #444; /* 텍스트 색상 */
  --icon-size: 2.5rem; /* 아이콘 크기 */
  --font-size: 1.2rem; /* 텍스트 크기 */
  --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* 그림자 */
  --active-color: #FFB6B9; /* 활성화 시 색상 */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background: var(--background);
  display: flex;
  justify-content: center;  /* 수평 중앙 정렬 */
  align-items: flex-start;  /* 세로 방향으로는 상단부터 정렬 */
  height: 100vh; /* 전체 화면 높이 */
}

.content {
  width: 90%;  /* 화면 너비의 90%로 설정 */
  max-width: 600px;  /* 최대 너비 600px로 설정 */
  background-color: white; /* 하얀색 배경 */
  border-radius: 10px; /* 모서리 둥글게 */
  box-shadow: var(--box-shadow); /* 그림자 추가 */
  overflow: hidden; /* 내용이 넘치지 않도록 설정 */
  padding: 20px;  /* 내부 여백 추가 */
  display: flex;
  flex-direction: column;
  justify-content: center;  /* 세로 중앙 정렬 */
  align-items: center;
  position: relative;
  top: 100px; /* 위로 30px만큼 올리기 */
}


.tabbar {
  background-color: white;
  box-shadow: var(--box-shadow);
  padding: 1rem 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: fixed;
  bottom: 0; /* 화면 하단에 고정 */
  width: 100%;
  z-index: 1000; /* 다른 요소 위에 표시 */
}

.tabbar ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.tabbar li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px; /* 버튼 너비 */
  height: 100px; /* 버튼 높이 */
  color: var(--text-color);
  font-size: var(--font-size);
  cursor: pointer;
  transition: color 0.3s, transform 0.3s;
}

.tabbar li.active {
  color: var(--accent-color);
  transform: scale(1.1); /* 활성화 시 확대 */
}

.tab-style4 li {
  position: relative;
  transition: color 0.3s, transform 0.3s;
}

.tab-style4 li span {
  font-size: var(--icon-size); /* 아이콘 크기 */
  margin-bottom: 0.5rem; /* 아이콘과 텍스트 간격 */
}

.tab-style4 li:after {
  content: attr(data-label); /* 버튼 설명 */
  font-size: 0.8rem;
  color: #666;
  margin-top: 4px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.tab-style4 li.active:after {
  opacity: 1;
  transform: translateY(-5px); /* 텍스트가 위로 올라감 */
  color: var(--accent-color);
}



#map {
  width: 100%;   /* 지도 너비를 100%로 설정 */
  height: 350px;  /* 고정된 높이로 설정 */
  background-color: white; /* 하얀색 배경 */
  border-radius: 10px; /* 모서리 둥글게 */
  box-shadow: var(--box-shadow); /* 그림자 추가 */
}


#info {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #f9f9f9;
}