* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #FFDAB9, #E1BBF5);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Noto Sans KR', 'Poppins', sans-serif;
    line-height: 1.6;
}

.form-container {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-weight: 600;
    color: #333;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 20px; /* 버튼 간의 간격 */
}

button {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #FFB6B9;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button.profileChangeButton {
    background-color: #B39DDB;
  }

button:hover {
    background-color: #FFDAB9;
}

button:active {
    background-color: #FFDAB9;
}


.dog-photo {
    width: 140px; /* 사진 크기 */
    height: 140px;
    background: #eaeaea;
    border-radius: 10px;
    margin-bottom: 20px;
    float: left;
    margin-right: 20px;
    object-fit: cover;
  }
  

@media (max-width: 480px) {
    .form-container {
        width: 90%;
    }
}
